<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="An automated indoor garden prototype">
		<meta name="author" content="Jibsgrl">

		<title>Project Ceres</title>
    <link rel="shortcut icon" href="./static/img/logo/cgreen.ico">
    
		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="./static/css/bootstrap.min.css" type="text/css">

		<!-- Custom Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="./static/font-awesome/css/font-awesome.min.css" type="text/css">

		<!-- Plugin CSS -->
		<link rel="stylesheet" href="./static/css/animate.min.css" type="text/css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="./static/css/creative.css" type="text/css">
		<link rel="stylesheet" href="./static/css/lineChart.css">

		<script src="./static/js/d3.js"></script>

	</head>

	<body class="application">


		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="/" title="Project Ceres"><img style="max-width:40px; margin-top: -10px;" src="./static/img/logo/cgreen.png"> </a>
        <a class="navbar-brand page-scroll" href="/" title="Project Ceres">Project Ceres</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
					<a class="page-scroll" href="#about">About</a>
					</li>
					<li>
					<a class="page-scroll" href="#services">Dashboard</a>
					</li>
					<li>
					<a class="page-scroll" href="#portfolio">Photos</a>
					</li>
					<li>
					<a class="page-scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
		</nav>

		<!-- Page Header -->
		<!-- Set your background image for this header on the line below. -->
		<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1>Project Ceres</h1>
				<hr>
				<p>An automated garden prototype</p>
				<p>PARTICLE PHOTON - IOT - PYTHON - D3.JS - MONGODB</p>
				<a href="#about" class="btn btn-primary btn-xl page-scroll">Discover</a>
			</div>
		</div>
		</header>

		<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">Introducing Project Ceres</h2>
					<hr class="light">
					<p class="text-faded">Project Ceres makes it possible to monitor, control and retrieve data from your indoor garden. A special focus is given to the design of the connected device to be non-intrusive and modular.</p>
				</div>
			</div>
		</div>
		</section>	

		<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Garden Dashboard</h2>
					<p class="primary">Garden metrics in real time</p>
					<hr class="primary">
				</div>
			</div>
		</div>
		<div class="container">

			<br>
			<div class="row">

				<!-- Temperature -->
				<div class="col-sm-4 text-center">
					<div class="chart-wrapper">
						<div class="chart-title">
							<p><b>Temperature</b> (°C)</p>
						</div>
						<br>
						<div class="chart-stage">
							<svg id="fillgauge1" width="100%" height="250" onclick="gauge1.update(NewValue());"></svg>
						</div>
					</div>
				</div>
				<!-- Temperature --> 

				<!-- Soil moisture Gauge -->
				<div class="col-sm-4 text-center">
					<div class="chart-wrapper">
						<div class="chart-title">
							<p><b>Soil Moisture</b> (% of water)</p>
						</div>
						<br>
						<div class="chart-stage">
							<svg id="fillgauge2" width="100%" height="250" onclick="gauge2.update(NewValue());"></svg>
						</div>
					</div>
				</div>
				<!-- Soil moisture Gauge --> 

				<!-- ligth Gauge -->
				<div class="col-sm-4 text-center">
					<div class="chart-wrapper">
						<div class="chart-title">
							<p><b>Light</b> (Lumens)</p>
						</div>
						<br>
						<div class="chart-stage">
							<svg id="fillgauge3" width="100%" height="250" onclick="gauge3.update(NewValue());"></svg>
						</div>
					</div>
				</div>
				<!-- ligth Gauge --> 

			</div>		

			<br>
			<br>

			<div class="row">

				<!-- Time Chart -->
				<div class="col-sm-12 text-center">
					<div class="chart-wrapper">
						<div class="chart-title">
							<p><b>Last Month Data</b></p>
						</div>
						<div class="chart-stage" id="lineChart">
							<script src="./static/js/lineChart.js"></script>
							<script language="JavaScript"> var lineChart = displayChart()</script>
						</div>
					</div>
				</div>
				<!-- Time Chart --> 

			</div>
		</div>
		</section>

		<section class="no-padding" id="portfolio">
		<div class="container-fluid">
			<div class="row no-gutter">
				<div class="col-lg-4 col-sm-6">
					<a href="#portfolioModal1" class="portfolio-box" data-toggle="modal">
						<img src="./static/img/portfolio/draft4.png" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Step 1
								</div>
								<div class="project-name">
									Drafts
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="#portfolioModal2" class="portfolio-box" data-toggle="modal">
						<img src="./static/img/portfolio/photon.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Step 2
								</div>
								<div class="project-name">
									Components
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="#portfolioModal3" class="portfolio-box" data-toggle="modal">
						<img src="./static/img/portfolio/3.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Step 3
								</div>
								<div class="project-name">
									Shelf prototypes
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="#portfolioModal4" class="portfolio-box" data-toggle="modal">
						<img src="./static/img/portfolio/proto1.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Step 4
								</div>
								<div class="project-name">
									Electronics
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="#portfolioModal5" class="portfolio-box" data-toggle="modal">
						<img src="./static/img/portfolio/5.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Step 5
								</div>
								<div class="project-name">
									Dashboard
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="#portfolioModal6" class="portfolio-box" data-toggle="modal">
						<img src="./static/img/portfolio/6.jpg" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Step 6
								</div>
								<div class="project-name">
									Final product
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		</section>

		<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">Coming up next</h2>
					<hr class="primary">
					<p>In the next version of project Ceres, we will work on the design of the device and add more sensors.</p>
					<p>Questions? Thoughts? We would love to hear from you. Tweet us at <a href="https://twitter.com/jibsgrl" target="_blank">@jibsgrl</a> or email us at <a href="mailto:contact@project-ceres.xyz" target="_blank">contact@project-ceres.xyz</a></p>
				</div>
			</div>
		</div>
		</section>	

    <div id="footer" class="tracking-section">
      <div class="container">
        <div class="row">
          <div id="about-r2d3" class="col-xs-12 col-sm-5">
            <div class="row">
              <div class="col-xs-3">
                <a id="footer-logo" class="hide-text" href="/"></a>
              </div>
              <div class="col-xs-9">
                <p>Project Ceres is an experiment on Data, Devices & Design.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7">
            <div class="row team-bio">
              <div class="col-xs-3">
                <img class="footer-portrait" src="./static/img/team/avatar.png">
              </div>
              <div class="col-xs-8">
                <h3>Jb</h3>
                <p>Jb is a maker who loves applying data science techniques on connected devices. He is currently a data scientist at <a href="http://multiposting.fr/en/#">Multiposting</a>. Prior to that, he was a systems enginering grad student building connected devices/robots at <a href="http://systems.berkeley.edu/">UC Berkeley</a>.</p>

                <p>Find Jb: <a href="https://www.linkedin.com/pub/jean-baptiste-gariel/19/a55/8b4" target="_blank">LinkedIn</a> <a href="https://twitter.com/jibsgrl" target="_blank">Twitter</a> <a href="https://github.com/jbgariel" target="_blank">Github</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

		<!-- Portfolio Modals -->
		<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
		<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Step 1 : Drafts</h2>
								<p class="item-intro text-muted">CAD drafts of the device</p>
								<img class="img-responsive img-centered" src="./static/img/portfolio/draft4.png" alt="">
								<img class="img-responsive img-centered" src="./static/img/portfolio/draft3.png" alt="">
								<img class="img-responsive img-centered" src="./static/img/portfolio/draft2.png" alt="">
								<img class="img-responsive img-centered" src="./static/img/portfolio/draft1.png" alt="">
								<p>The Ceres shelf consists of an 2cm oak plank. The tank is integrated discreetly in the board. The opening is closed by a plexigas board which protects the electronics.</p>
								<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- Portfolio Modal 2 -->
		<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Step 2 : Components</h2>
								<p class="item-intro text-muted">Components for the project</p>
								<img class="img-responsive img-centered" src="./static/img/portfolio/photon.jpg" alt="">
								<p>The brain of the prototype is the photon board by <a href="https://www.particle.io/" target="_blank">particle</a>.</p>
								<img class="img-responsive img-centered" src="./static/img/portfolio/tank2.jpg" alt="">
								<p>The tank is a water filter cap made of high-grade plastic.</p>
								<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- Portfolio Modal 4 -->
		<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Step 4 : Electronics</h2>
								<p class="item-intro text-muted">First electronic prototype</p>
								<img class="img-responsive img-centered" src="./static/img/portfolio/proto1.jpg" alt="">
								<p>First working prototype.</p>
								<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="./static/js/jquery.min.js"></script>
		<script src="./static/js/bootstrap.min.js"></script>
		<script src="./static/js/liquidFillGauge.js"></script>

		<!-- jQuery -->
		<script src="./static/js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="./static/js/bootstrap.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="./static/js/jquery.easing.min.js"></script>
		<script src="./static/js/jquery.fittext.js"></script>
		<script src="./static/js/wow.min.js"></script>

		<!-- Custom JavaScript -->
		<script src="./static/js/creative.js"></script>	

		<!-- Gauges fill -->	
		<script language="JavaScript">
			var config1 = liquidFillGaugeDefaultSettings();
			config1.circleColor = "#CF000F";
			config1.textColor = "#CF000F";
			config1.waveTextColor = "#D91E18";
			config1.waveColor = "#FF7668";
			config1.circleThickness = 0.08;
			config1.waveHeight = 0;
			config1.waveAnimate = false;
			config1.waveCount = 1;
			config1.waveOffset = 0.25;
			config1.minValue = -10;
			config1.maxValue = 50;
			config1.displayPercent = false;
			var gauge1 = loadLiquidFillGauge("fillgauge1", 22, config1);

			var config2 = liquidFillGaugeDefaultSettings();
			config2.circleColor = "#1F3A93";
			config2.textColor = "#1F3A93";
			config2.waveTextColor = "#2574A9";
			config2.waveColor = "#6BB9F0";
			config2.circleThickness = 0.08;
			config2.waveAnimateTime = 3000;
			config2.waveHeight = 0.05;
			config2.waveCount = 2;
			config2.minValue = 0;
			config2.maxValue = 100;
			var gauge2 = loadLiquidFillGauge("fillgauge2", 55, config2);

			var config3 = liquidFillGaugeDefaultSettings();
			config3.circleColor = "#F7CA18";
			config3.textColor = "#F7CA18";
			config3.waveTextColor = "#F4D03F";
			config3.waveColor = "#F5D76E";
			config3.circleThickness = 0.08;
			config3.waveHeight = 0;
			config3.waveAnimate = false;
			config3.waveCount = 1;
			config3.waveOffset = 0.25;
			config3.minValue = 0;
			config3.maxValue = 2000;
			config3.displayPercent = false;
			var gauge3 = loadLiquidFillGauge("fillgauge3", 600, config3);

			function NewValue(){
			if(Math.random() > .5){
			return Math.round(Math.random()*100);
			} else {
			return (Math.random()*100).toFixed(1);
			}
			}

		</script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66889327-1', 'auto');
      ga('send', 'pageview');

    </script>

	</body>

</html>
