@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.temp-line,
.legend .temp-line {
  fill: none;
  stroke: #CF000F;
  stroke-width: 3;
}

.mois-line,
.legend .mois-line {
  fill: none;
  stroke: #1F3A93;
  stroke-width: 3;
}

.light-line,
.legend .light-line {
  fill: none;
  stroke: #F7CA18;
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.water .marker-bg,
.marker.water path {
  fill: rgba(38, 166, 91, 1);
  stroke: rgba(10, 127, 58, 1);
  stroke-width: 3;
}

.marker.server .marker-bg,
.marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

.focus circle {
  fill: none;
  stroke: rgba(0, 153, 51, 0.8);
}

.focus text {
  fill: rgba(0, 153, 51, 1);
  font-weight: bold;
}

.overlay {
  fill: none;
  pointer-events: all;
}
